<div class="btn-group">
    <select class="form-select py-2 border-right-0 border rounded"
            name="start_date"
            style="width: auto; min-width: 150px; max-width: 250px;"
            hx-trigger="change"
            hx-get="{% url 'end-date' %}"
            hx-target="#date-dropdown-2"
            hx-params="*"
    >
        <option selected disabled>Choose Start Date</option>
        {% for date in date_data %}
            <option value="{{ date }}">{{ date.2 }}</option>
        {% endfor %}
    </select>
    <div style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;">
        <i class="fas fa-chevron-down"></i>
    </div>
</div>
